/* 
* Description:´This is the core theme for Oden.
*/

html {
  overflow-y:scroll;
}

body {
  background-color:#CCC;
  color:#333;
}

#header,
#main,
#footer {
  margin:8px auto;
  padding:1em;
  width:80%;
  background-color:#fff;
  border:1px solid #999;
  border-radius: 10px;
} 

#main {
  min-height:20em;
}

#footer {
  font-size:0.9em;
}

#footer,
#footer a {color:#666;}
#footer a:hover {color:#333; text-decoration:none;}
#footer img {
  float:left;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 15px;
}
#footer p {
  color: #000;
}

.site-logo {
	margin: 0px;
  	float:left;
  	width: inherit;
}

.site-logo,
.site-title,
.site-slogan {
  display:inline-block;
}

#header, .site-title {
  font-family: 'Shojumaru', cursive;
  font-size:1.1em;
  margin-top: 0px;
  margin-bottom: 0px;
  text-shadow:#ccc 4px -4px 4px;
  line-height: 1.1em;
}
.site-slogan {
  font-family: 'Shojumaru', cursive;
  font-style:italic;
  line-height: 0;
  margin:0;
}


/* Navbar ********************************/



/* Fonts *********************************/

h1{text-transform:uppercase;
font-size: 1.5em;}


/* Links *********************************/
 
a,
a:visited {
  color:#A84C00;
}

/* Infoboxes *****************************/

.success {
  display: inline-block;
  padding:5px;
  background-color: #59fc23;
  border: solid 2px #2aaa00;
}

.info, .notice {
  display: inline-block;
  padding:5px;
  background-color: #00d4ff;
  border: solid 2px #0083ff;
}

.warning, .error, .alert {
  display: inline-block;
  padding:5px;
  background-color: #ff653a;
  border: solid 2px #ad2500;
}


